{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Studentska evidencija</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('studenti') }}>Studenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href={{ url_for('korisnici') }} tabindex="-1" aria-disabled="true">Korisnici</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/logout" class="btn btn-primary">
      	<i class="fas fa-sign-out-alt"></i>
      </a>
    </form>
  </div>
</nav>
<div class="container">
	<div class="row col-lg-5 col-xs-12">
		<div class="my-2 justify-content-center">
			<h4>Izmena korisnika</h4>
			<form action={{ url_for('korisnik_izmena', id=korisnik.id ) }} method="POST">
				<div class="form-group">
					<label for="ime">Ime:</label>
					<input class="form-control" type="text" value={{korisnik.ime}} name="ime">
				</div>
				<div class="form-group">
					<label for="prezime">Prezime:</label>
					<input class="form-control" type="text" value={{korisnik.prezime}} name="prezime">
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input class="form-control" type="email" name="email" value={{korisnik.email}}>
				</div>
				<div class="form-group">
					<label for="rola">Rola:</label>
					<select name="rola" class="form-control">
						<option {% if korisnik.rola=="" %} selected {% endif %} disabled>--Izaberite rolu--</option>
						<option value="administrator" {% if korisnik.rola=="administrator" %} selected {% endif %}>Administrator</option>
						<option value="profesor" {% if korisnik.rola=="profesor" %} selected {% endif %}>Profesor</option>
					</select>
				</div>
				<div class="form-group">
					<label for="lozinka" >Lozinka:</label>
					<input class="form-control" type="password" name="lozinka" value="****">
				</div>
				<input type="submit" class="btn btn-primary" role="button" value="Sačuvaj">
			</form>
		</div>
	</div>	

</div>

{% endblock %}