{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Studentska evidencija</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href={{ url_for('studenti') }}>Studenti<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('predmeti') }}>Predmeti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for('korisnici') }} tabindex="-1" aria-disabled="true">Korisnici</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/logout" class="btn btn-primary">
      	<i class="fas fa-sign-out-alt"></i>
      </a>
    </form>
  </div>
</nav>
<div class="container">
	<div class="row my-3 justify-content-center">
		<div class="col-lg-6 col-xs-12">
			<table class="table">
				<tr>
					<th>Ime:</th>
					<td>{{ student.ime }}</td>
				</tr>
				<tr>
					<th>Ime roditelja:</th>
					<td>{{ student.ime_roditelja }}</td>
				</tr>
				<tr>
					<th>Prezime:</th>
					<td>{{ student.prezime }}</td>
				</tr>
				<tr>
					<th>Broj indeksa:</th>
					<td>{{student.broj_indeksa}}</td>
				</tr>
				<tr>
					<th>Godina studija:</th>
					<td>{{student.godina_studija}}</td>
				</tr>
				<tr>
					<th>JMBG:</th>
					<td>{{student.jmbg}}</td>
				</tr>
				<tr>
					<th>Datum rodjenja:</th>
					<td>{{student.datum}}</td>
				</tr>
				<tr>
					<th>ESPB:</th>
					<td>{{student.espb}}</td>
				</tr>
				<tr>
					<th>Prosek ocena:</th>
					<td>{{student.prosek_ocena}}</td>
				</tr>
				<tr>
					<th>Broj telefona:</th>
					<td>{{student.broj_telefona}}</td>
				</tr>
				<tr>
					<th>Email:</th>
					<td>{{student.email}}</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
					<img {%if student.slika%} src="/static/uploads/{{ student.slika }}"
							{%else%} src="/static/placeholder.png" {%endif%} id="slika_pregled" />
					</td>
				</tr>
				<tr>
					<th>Akcije:</th>
					<td class="row">
						<a href={{ url_for('student_izmena', id=student.id) }} role="button" class="text-warning mx1-1">
		      			<i class="far fa-edit"></i>
		      		</a>
		      		<button class="text-danger mx1-1" data-toggle="modal" data-target="#deleteModal2{{student.id}}">
						<i class="fas fa-trash"></i> 
					</button>
					</td>
				</tr>
				<div class="modal fade" id="deleteModal2{{student.id}}" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
								Da li ste sigurni da želite da obrišete studenta {{ student.ime }} {{ student.prezime }}?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
								<form action="{{ url_for('student_brisanje', id=student.id) }}" method="POST">
									<input type="submit" value="Obriši" class="btn btn-danger">
								</form>
							</div>
						</div>
					</div>
				</div>
			</table>
		</div>
		<div class="col">
            <br><br>
            <form action="{{ url_for('ocena_nova',id=student.id) }}" method="post"><!--DODAJ -->
                <div class="form-group">
                    <label for="exampleInput">Predmet</label>
                    <select  class="form-control" name="predmet_id" id="predmet_id">
                        <option value="">Odaberi predmet</option> <!--predmet_novi.htlm-->
                        {% for predmet in predmeti %}
                        <option value="{{ predmet.id }}">{{predmet.naziv}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputText">Ocena</label>
                    <input type="text" class="form-control" id="exampleInputText" name="ocena" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputDate">Datum</label>
                    <input type="date" class="form-control" id="exampleInputDate" name="datum" required>
                </div>
                <div class="text-center"><button type="submit" class="btn btn-primary">Dodaj ocenu</button></div>
            </form>
        </div>
	</div>
	<div class="col-lg-12 col-xs-12">
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Sifra</th>
						<th scope="col">Naziv</th>
						<th scope="col">Godina Studija</th>
						<th scope="col">Obavezni/Izborni</th>
						<th scope="col">ESPB</th>
						<th scope="col">Ocene</th>
						<th scope="col">Akcije</th>
					</tr>
				 </thead>
			 <tbody>
				 {% for ocena in ocene %}
					 <tr>
						<td>{{ocena.sifra}}</td>
						<td>{{ocena.naziv}}</td> 
						<td>{{ocena.godina_studija}}</td>
						<td>{{ocena.obavezni_izborni}}</td>
						<td>{{ocena.espb}}</td>
						<td>{{ocena.ocena}}</td>
						<td class="row"><!--OBRATI PAZNJU ZA OCENA NOVA-->
						 <a href="{{ url_for('ocena_izmena', id=student.id, ocena_id=ocena.id) }}" role="button" class="text-warning mx-1">
							<i class="fas fa-edit"></i>
						 </a>
						<button class="text-danger mx1-1" data-toggle="modal" data-target="#deleteModal{{ocena.id}}">
							<i class="fas fa-trash"></i> 
						</button>
						 </td>
					</tr>
					<div class="modal fade" id="deleteModal{{ocena.id}}" tabindex="-1" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-body">
									Da li ste sigurni da želite da obrišete studenta {{ ocena.naziv }} ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
									<form action="{{ url_for('ocena_brisanje', id=student.id, ocena_id=ocena.id) }}" method="POST">
										<input type="submit" value="Obriši" class="btn btn-danger">
									</form>
								</div>
							</div>
						</div>
					</div>
					{%endfor%}
				 </tbody>
		</table>
		</div>
	</div>
</div>

{% endblock %}